{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_title %}
    {{ mascotum.nombre }}
{% endblock %}

{% block page_content %}

    <div class="box">
        <div class="box-body">
            
        
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mascotum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ mascotum.nombre }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if mascotum.fechaNacimiento %}{{ mascotum.fechaNacimiento|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ mascotum.peso }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ mascotum.edad }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ mascotum.color }}</td>
            </tr>
            <tr>
                <th>Especie</th>
                <td>{{ mascotum.especie }}</td>
            </tr>
            <tr>
                <th>Raza</th>
                <td>{{ mascotum.raza }}</td>
            </tr>
        </tbody>
    </table>

        <h2>Citas</h2>
        <table class="table table-bordered">
            <tr>
                <th>Fecha de consulta</th>
                <th>Proxima cita</th>
                <th>Veterinario</th>
            </tr>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.fechaAtencion|date('d/m/Y') }}</td>
                <td>{{ cita.proximaCita|date('d/m/Y') }}</td>
                <td>{{ cita.veterinario }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('mascota_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('mascota_edit', { 'id': mascotum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
